/* @import "../variable.scss"; */
@use "../variable" as *;

.UserLayout {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: start;
}

@media (min-width: $breakpoint-xl) {
  .UserLayout {
    height: $MainContentHeight;
  }
}
